name: Auto merge
on:
  pull_request:

permissions:
    contents: write
    pull-requests: write

jobs:
    merge:
        if : ${{github.actor == 'dependabot[bot]'}}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
            - name: fetch dependabot metadata
              id: meta
              uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2
              with:
                github-token: "${{ secrets.GITHUB_TOKEN }}"
            - name: merge
              if: >-
                ${{ steps.meta.outputs.package-ecosystem != 'github_actions' }}
              run: gh pr merge --auto --merge "$PR_URL"
              env:
                PR_URL: ${{github.event.pull_request.html_url}}
                GH_TOKEN: ${{secrets.GITHUB_TOKEN}}