name: fetch dependabot metadata
on: 
    pull_request:
        
jobs:
    fetch:
        if: ${{ github.actor == 'dependabot[bot]' }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
            - name: fetch dependabot metadata
              id: meta
              uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2
              with:
                github-token: "${{ secrets.GITHUB_TOKEN }}"
            - name: print metadata
              run: |
                echo "${UPDATE_TYPE}"
              env:
                UPDATE_TYPE: ${{ steps.meta.outputs.update-type}}
            